<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @week, partial: "card", as: :week %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "weeks/week_games" %>
  </div>
</div>
